.CampoDeTexto {
    margin: 16px;
  }
  .Container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
    margin: 16px;
  }
  
  .ContainerUsuario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #344;
    padding: 16px;
    border-radius: 8px;
  }
  